@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

.menu, .sub-menu, .menu__icons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hamburger__icon, .menu, .menu__link, .sub-menu, .sub-menu__link, .menu__icon.home__icon, .main__content {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.main__header {
  padding: 10px;
  background-color: #282A35;
  border: 1px solid #aaa;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger__menu {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 5px;
  cursor: pointer;
}

.hamburger__icon {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #FFF;
  border-radius: 5px;
}

.hamburger__menu--open .hamburger__icon:nth-child(2) {
  -webkit-transform: translateX(-30px) scaleX(0);
          transform: translateX(-30px) scaleX(0);
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hamburger__menu--open .hamburger__icon:first-child {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
          transform: rotate(45deg) translate(7px, 7px);
}

.hamburger__menu--open .hamburger__icon:last-child {
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
          transform: rotate(-45deg) translate(7px, -7px);
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  width: 300px;
  padding: 5px 10px;
  border: 1px solid #aaa;
}

.search__input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 1px 1px #22caca;
          box-shadow: 0 0 1px 1px #22caca;
}

.search__btn {
  padding: 5px 10px;
  border: 1px solid #aaa;
  background-color: teal;
  color: #FFF;
}

.main__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 49px;
}

.menu {
  width: 0;
  height: 100vh;
  overflow: auto;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.menu--open {
  width: 220px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu__item {
  position: relative;
}

.menu__item:first-child {
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  background-color: #497799;
}

.menu__item:not(:first-child) {
  border-top: 1px solid #1A0A03;
}

.menu__img {
  border-radius: 50%;
  margin-right: 10px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__link {
  display: block;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
  color: #FFF;
  background-color: #497799;
}

.menu__link:hover {
  background-color: #30A7E0;
  color: #FFF;
}

.sub-menu {
  height: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.menu__link--click ~ .sub-menu {
  height: auto;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.sub-menu__item:not(:first-child) {
  border-top: 1px solid #888;
}

.sub-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 4px;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #FFF;
  color: #1A0A03;
  opacity: .6;
}

.sub-menu__link:hover {
  opacity: 1;
  color: #1A0A03;
}

.sub-menu__link::before {
  content: '';
  display: block;
  margin-right: 10px;
  width: 3px;
  height: 3px;
  border: 3px solid #1A0A03;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__icons {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 10px;
  background-color: #313A46;
  border: 1px solid #aaa;
}

.menu__icon {
  font-size: 24px;
  color: #999;
}

.menu__icon.home__icon {
  cursor: pointer;
}

.menu__icon.home__icon:hover {
  color: #FFF;
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main__content {
  width: 100%;
  height: 100vh;
}

.main__info {
  height: calc(100vh - 62px);
  border: 1px solid #aaa;
}

.footer {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #aaa;
  background-color: #FFF;
  color: rgba(0, 0, 0, 0.7);
}
/*# sourceMappingURL=main.css.map */