.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}


.main__content {
    width: 100%;
    height: 100vh;
    @extend %transition;
}

.main__info {
    border: 1px solid #aaa;
}

//************** Main Menu Styles *****************
.main__menu {
    display: flex;
    padding-left: 49px;
}

.menu {
    width: 0;
    height: 100vh;
    overflow: auto;
    @extend %reset-list;
    transform-origin: left;
    transform: scaleX(0);
    @extend %transition;
}

.menu--open {
    width: 220px;
    transform: scaleX(1);
}

.menu__item {
    position: relative;

    &:not(:first-child) {
        border-top: 1px solid $dark-color;
    }
}

.menu__link {
    display: block;
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: none;
    color: $white-color;
    background-color: #497799;
    @extend %transition;

    &:hover {
        background-color: #30A7E0;
        color: $white-color
    }
}

// Sub Menu Styles
.sub-menu {
    height: 0;
    @extend %reset-list;
    transform-origin: top;
    transform: scaleY(0);
    @extend %transition;
}

.menu__link--click ~ .sub-menu {
    height: auto;
    transform: scaleX(1);
}

.sub-menu__item:not(:first-child) {
    border-top: 1px solid #888;
}

.sub-menu__link {
    display: flex;
    align-items: center;
    padding: 8px 4px;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: $white-color;
    color: $dark-color;
    opacity: .6;
    @extend %transition;

    &:hover {
        opacity: 1;
        color: $dark-color;
    }

    &::before {
        content: '';
        display: block;
        margin-right: 10px;
        width: 3px;
        height: 3px;
        border: 3px solid $dark-color;
        border-bottom-color: transparent;
        border-left-color: transparent;
        transform: rotate(45deg);
    }
}

// Menu Icons styles
.menu__icons {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 10px;
    @extend %reset-list;
    background-color: #313A46;
    border: 1px solid #aaa;
}

.menu__icon {
    font-size: 24px;
    color: #999;

    &.home__icon {
        cursor: pointer;
        @extend %transition;

        &:hover {
            color: $white-color;
        }
    }
}