// Wrapper and Main Section Styles
.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.main__content {
    width: 100%;
    height: 100vh;
    @extend %transition;
}

.main__info {
    height: calc(100vh - 62px);
    border: 1px solid #aaa;
}

// Footer Styles
.footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #aaa;
    background-color: $white-color;
    color: rgba($color: #000000, $alpha: .7);
}